<h1>Burgers to Devour!</h1>

<h3>Create and devour burgers!</h3>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burger_name}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST" class="create-burger">
	<textarea type="text" name="burger_name" id="new-burger"></textarea>

	<button type="submit">Submit</button>
</form>